
.hgwy {
    box-sizing: border-box;
  }
 
  #top_line {
    background-color: rgb(223, 209, 209);
    font-size: large;
  }
  .column {
    float: left;
    width: 20%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  P::first-letter {
    font-weight: bold;
    color: yellow ;
  }